{% extends 'base.html' %}
{% load static %}
{% block pagename %}Add Customer PO Items{% endblock pagename %}

{% block content %}
<form action="." method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="container">
        <div class="row ">
            <div class="row col-sm-12 justify-content-start">
                <h4 class="text-center alert alert-info">Update Customer Po Details</h4>
                <form action="" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="col-md-4 form-group mt-2">
                        <label for="id_customer_po_number" class="form-label">Customer Po No.</label>
                        
                        <input type="text" name="customer_po_number" value="{{form.customer_po_number.value}}" class="form-control" autofocus="True" maxlength="255" required="" id="id_customer_po_number" readonly>
                        <h1>{{form.id}}</h1>
                    </div>
                    <div class="col-md-4  form-group mt-2">
                        <label for="id_date" class="form-label">Po Date</label>
                        {{form.date}}
                    </div>
                    <div class="col-md-4 form-group mt-2">
                        <label for="id_customer_code" class="form-label">Customer code</label>
                        {{form.customer_code}}
                    </div>
                    <div class="col-md-4 form-group mt-2">
                        <label for="id_customer" class="form-label">Customer Name</label>
                        {{form.customer_id}}
                    </div>
                    <div class="col-md-4 form-group mt-2">
                        <label for="id_category" class="form-label">Category</label>
                        {{form.category}}
                    </div>
                    <div class="col-md-4 form-group mt-2">
                        <label for="id_place" class="form-label">Place</label>
                        {{form.place}}
                    </div>
                    <div class="col-md-6 form-group mt-2">
                        <label for="id_address" class="form-label">Address</label>
                        {{form.address}}
                    </div>

                    {% if formset %}
                    <h3 class="mt-5">Add Items</h3>
                    {{formset.management_form}}
                    <div id="item-form-list">
                        {% for form in formset %}
                        {% for hidden in form.hidden_fields%}
                        {{hidden}}
                        {% endfor %}
                        <div class="row col-sm-12 justify-content-start item-form" >
                          
                            <div class="col-md-2 form-group mt-4" style="display:none;">
                                <label for="id_customer_po_id" class="form-label">Customer PO Number</label>
                                {{form.customer_po_id}}
                            </div>
                            <div class="col-md-2 form-group mt-4" style="display:none;">
                                <label for="id_customer_po_number" class="form-label">Customer PO Number</label>
                                {{form.customer_po_number}}
                            </div>
                        
                            <div class="col-md-2 form-group mt-4">
                                <label for="id_customer_po_number" class="form-label">Item Code</label>
                                {{form.customer_item_code}}
                            </div>
                            <div class="col-md-4  form-group mt-4">
                                <label for="id_date" class="form-label">Item Description</label>
                                {{form.customer_item_description}}
                            </div>
                            <div class="col-md-1  form-group mt-4">
                                <label for="id_date" class="form-label">Quantity</label>
                                {{form.quantity}}
                            </div>
                            <div class="col-md-2  form-group mt-4">
                                <label for="id_date" class="form-label">Unit</label>
                                {{form.unit}}
                            </div>
                        </div>
                        {% endfor%}
                    </div>

                    <div style="display: none;">
                        <div id="empty-form">
                            <div style="display: none;" id="cust-name">{{formset.empty_form.customer_item_code}} </div>
                            <div class="col-md-2 form-group mt-3" style="display: none;">
                                <label for="id_customer_po_id" class="form-label">Customer Po Num</label>
                                {{formset.empty_form.customer_po_id}}
                            </div>
                            <div class="col-md-2 form-group mt-3" style="display: none;">
                                <label for="id_customer_po_number" class="form-label">Customer Po Num</label>
                                {{formset.empty_form.customer_po_number}}
                            </div>
                            <div class="col-md-2 form-group mt-3">
                                <label for="id_customer_code" class="form-label">Item Code</label>
                                {{formset.empty_form.customer_item_code}}
                            </div>
                            <div class="col-md-4 form-group mt-4">
                                <label for="id_item_description" class="form-label">Item Description</label>
                                {{formset.empty_form.customer_item_description}}
                            </div>
                            <div class="col-md-1  form-group mt-4">
                                <label for="id_quantity" class="form-label">Quantity</label>
                                {{formset.empty_form.quantity}}
                            </div>
                            <div class="col-md-1  form-group mt-4">
                                <label for="id_unit" class="form-label">Unit</label>
                                {{formset.empty_form.unit}}
                            </div>
                            <div class="col-md-1 mt-5  form-group mt-4">
                                <button class = 'btn btn-danger' id="DeleteRow" type="button">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class=" btn btn-primary mt-4" id="add-more" type="button">Create more Form</button>
                    </div>

                    {% endif %}
                    <div class="d-flex justify-content-center mt-4 mb-5">
                        <input type="submit" class="btn btn-lg btn-success" value='Add'>
                    </div>
                    {{form.errors}}
                </form>
            </div>

        </div>
    </div>

</form>
{% endblock content %}


{% block javascript %}
<script>
    console.log("hello");
    // function for date
    $(function () {

        $("#id_date").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    let customer_id = document.getElementById("id_customer_id");
    let customer_code = document.getElementById("id_customer_code");
    let category = document.getElementById("id_category");
    let place = document.getElementById('id_place');
    let address = document.getElementById('id_address');

    customer_code.addEventListener('change', getCustomerCode)
    customer_id.addEventListener('change', getCustomerDetail)

    function setOption(selectElement, value) {

        var options = selectElement.getElementsByTagName('option');
        console.log("optionlength",options.length);
        for (var i = 0, optionsLength = options.length; i < optionsLength; i++) {
            console.log(options[i].value);
            if (options[i].value == value) {
                selectElement.selectedIndex = i;
                return true;
            }
        }

        return false;

    }


    function getCustomerCode(e) {
        event.preventDefault()
        console.log("event is", e.type);
        let customer_code = '';
        if (e.type == 'DOMContentLoaded') {
            customer_code = `{{form.customer_code.value}}`
            document.getElementById("id_customer_id").value=`{{form.customer_id.value}}`
            console.log("IN side load ", `{{form.customer_code.value}}`);
            
        } else if (e.type == 'change') {
            customer_code = e.target.value;
        }

        console.log('selected value:', customer_code);
     
        const data = {
            id: customer_code
        };

        let url = "{% url 'customercode' %}";

        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data),
            }).then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                customer_id.innerHTML = '<option value="" selected="">------</option>'
                for (let i = 0; i < data.length; i++) {
                    customer_id.innerHTML +=
                        `<option value=${data[i]["id"]} selected="">${data[i]["customer_name"]}</option>`
                }
                document.getElementById("id_customer_id").value=`{{form.customer_id.value}}`
                place.value = data[data.length - 1]['place']
                address.value = data[data.length - 1]['address']
                category.value = data[data.length - 1]['category']
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function getCustomerDetail(e) {
        event.preventDefault()
        console.log("event is", e.type);
        let customer_id = '';
        if (e.type == 'DOMContentLoaded') {
            // $('#id_customer_id').val(`{{form.customer_id.value}}`);
            customer_id = `{{form.customer_id.value}}`
            console.log("IN side load ", `{{form.customer_id.value}}`);
        } 
        else if (e.type == 'change') {
            console.log("I love u");
            customer_id = e.target.value;      
        }
        console.log('selected value:', customer_id);
        // let customer_id = e.target.value;
        const data = {
            id: customer_id
        };
        let url = "{% url 'getcustomerdetail' %}";

        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data),
            }).then((response) => response.json())
            .then((data) => {
                console.log('Success id:', data);
                place.value = data[0]['place']
                address.value = data[0]['address']
                category.value = data[0]['category']

            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    //ONlOAD
    window.addEventListener("DOMContentLoaded", (event) => {
        console.log('Hello this load', `{{form.customer_id.value}}`);
        getCustomerCode(event)
        setOption(document.getElementById("id_customer_id"), `{{form.customer_id.value}}`)
        getCustomerDetail(event)
       
    })

    //  ADD more items details
    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', (event) => {
        if (event) {
            event.preventDefault()
        }
        const currentItemForms = document.getElementsByClassName('item-form')
        const currentFormCount = currentItemForms.length
        const formCopyTarget = document.getElementById("item-form-list")
        const copyemptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyemptyFormEl.setAttribute('class', 'item-form row col-sm-12 justify-content-start')

        copyemptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyemptyFormEl.innerHTML = copyemptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        //add new empty for to our html form
        formCopyTarget.append(copyemptyFormEl)
        
        console.log("heloo", `{{form.customer_po_number.value}}`);

        // give customer_name and get id of customer_id
        id = `{{form.customer_po_number.value}}`
        const data = {
            id: id
        };

        let url = "{% url 'getcustomerpotableid' %}";
        var custid = ''
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data),
            }).then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                custid = data[0]["id"]
                console.log("id is",parseInt(custid));
                document.getElementById(`id_form-${currentFormCount}-customer_po_id`).value= custid
                document.getElementById(`id_form-${currentFormCount}-customer_po_number`).value = `{{form.customer_po_number.value}}`
            })
            .catch((error) => {
                console.log("hellllllll");
                console.error('Error:', error);
            });

            console.log("id is", custid);

       

        
        // put value of cutomerpo no in added form
        // let poNO = '';
        // setTimeout(()=>{
        // poNo = document.getElementById('id_customer_po_number').value ;
        // console.log("poNO",`{{form.id.value}}`);
        // document.getElementById(`id_form-${currentFormCount}-customer_po_number`).value =`{{form.id.value}}`
        // }, 2000);
        // poNo = document.getElementById('id_customer_po_number').value ;
        // console.log("poNO",`{{form.id}}`);
        // document.getElementById(`id_form-${currentFormCount}-customer_po_number`).value =`{{form.id}}`
    })

    // $('body').on('click','#DeleteRow', function(){
    //     const
    //     console.log("inside delete");
    //     $(this).parents('.row').remove();
    // })

    $('body').on('click','#DeleteRow', function(){
       
    // var id1 = $(this).parent().parent().attr('id');
    // alert(id1);
    //     console.log("inside delete",id1);
        // $(this).parents('.row').remove();
        $(this).parent().parent().remove();
    // alert(id1);
    })


    // $('#id_customer_id').on('load',function(e){
    //     console.log("Welcome to jquwery");
    // })
</script>
{% endblock javascript %}