{% extends 'base.html' %}
{% load static %}

{% block pagename %}Add Customer PO{% endblock pagename %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="container">
        <div class="row ">
            <div class="row col-sm-12 justify-content-start">
                <h4 class="text-center alert alert-info">Add Customer Po Details</h4>
                <form action="" method="POST" class="row g-3">
                {% csrf_token %}
                <div class="col-md-4 form-group mt-2">
                    <label for="id_customer_po_number" class="form-label">Customer Po No.</label>
                    {{form.customer_po_number}}
                </div>
                <div class="col-md-4  form-group mt-2">
                    <label for="id_date" class="form-label">Po Date</label>
                    {{form.date}}
                </div>
                <div class="col-md-4 form-group mt-2">
                    <label for="id_customer_code" class="form-label">Customer code</label>
                    {{form.customer_code}}
                </div>
                <div class="col-md-4 form-group mt-2">
                    <label for="id_customer_name" class="form-label">Customer Name</label>
                    {{form.customer_id}}
                </div>
                <div class="col-md-4 form-group mt-2">
                    <label for="id_category" class="form-label">Category</label>
                    {{form.category}}
                </div>
                <div class="col-md-4 form-group mt-2">
                    <label for="id_place" class="form-label">Place</label>
                    {{form.place}}
                </div>
                <div class="col-md-6 form-group mt-2">
                    <label for="id_address" class="form-label">Address</label>
                    {{form.address}}
                </div>
                <!-- Add item details -->     
                 
                {{item}}


                <div class="d-flex justify-content-center mt-4">
                <input type="submit" class="btn btn-lg btn-success" value = 'Add'>
                </div>
                {{form.errors}}
                </form>
            </div>
        
        </div>
    </div>

</form>
{% endblock content %}


{% block javascript %}
<!-- <script src="{% static 'javascript/customerpo_add_javascript.js' %}"></script> -->
<script>

// Date Picker
$( function() {

    $( "#id_date" ).datepicker({
        dateFormat: 'yy-mm-dd'
    });
  } );
    
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


let customer_id = document.getElementById("id_customer_id");
let customer_code = document.getElementById("id_customer_code");
let category = document.getElementById("id_category");
let place = document.getElementById('id_place');
let address = document.getElementById('id_address');

customer_code.addEventListener('change', getCustomerCode)
customer_id.addEventListener('change',getCustomerDetail)

function getCustomerCode(e){
    let customer_code = e.target.value;
    const data = {id: customer_code};
    let url = "{% url 'customercode' %}";

    fetch(url, {
        method:'POST',
        headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data),
    }).then((response)=>response.json())
    .then((data) => {
        console.log('Success:', data);
        customer_id.innerHTML = '<option value="" selected="">------</option>'
        for(let i = 0; i<data.length; i++)
        { 
            customer_id.innerHTML += `<option value=${data[i]["id"]} selected ="">${data[i]["customer_name"]}</option>`
        }
        
        place.value = data[data.length-1]['place']
        address.value = data[data.length-1]['address']
        category.value = data[data.length-1]['category']
    })
    .catch((error) => {
        console.error('Error:', error);
      });
}

function getCustomerDetail(e){
    let customer_id = e.target.value;
    const data = {id: customer_id};
    let url = "{% url 'getcustomerdetail' %}";

    fetch(url, {
        method:'POST',
        headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data),
    }).then((response)=>response.json())
    .then((data) => {
        console.log('Success id:', data);
        place.value = data[0]['place']
        address.value = data[0]['address']
        category.value = data[0]['category']
        
    })
    .catch((error) => {
        console.error('Error:', error);
      });
}


</script>
{% endblock javascript %}
