{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if not request.user.is_authenticated %}
<!-- {% csrf_token %} -->
<div class="mt-3">
    <form method='POST'>
        {% csrf_token %}
        {% if error %}
        <p style="color:red">{{error}}</p>
        {% endif %}
        <div>
            <input type="text" name="username" placeholder="username"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="password"/>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
{% else %}
    <p>You are already logged in. Would you like to <a href="/logout/">logout</a>?</p>
{% endif%}

{% endblock content %}